body {
  background-color: #56d1ff;
}
h1 {
  font-size: 100px;
  margin-top: 200px;
  color: white;
  font-family: verdana;
  text-align: center;
}
button {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Georgia;
  background-color: #3fcaff;
  color: white;
  border-style: solid;
  border-color: white;
  font-size: 40px;
  border-radius: 5px;
}
.good:hover {
  color: #56d1ff;
  background-color: green;
}
.bad:hover {
  color: #56d1ff;
  background-color: red;
}
.wraper {
  text-align: center;
}
iframe {
}
h2 {
  font-size: 70px;
  margin-top: 150px;
  color: pink;
  font-family: verdana;
  text-align: center;
}
p {
  text-align: center;
}
